In [1]:
import sqlite3

# General variables 
DATA_PATH = './../../../data/sqlite_data/'

db_path = DATA_PATH + 'poc.db'

In [2]:
sql_command = """CREATE TABLE IF NOT EXISTS users_poc (
    usr_id CHAR(64) PRIMARY KEY, -- 64 Chars: keccak_256
    name VARCHAR(25),
    email VARCHAR(30) UNIQUE
);"""

In [3]:
# Pray to GOD if this is in Prod, or simply check the command 1000 times xD
db_connection = sqlite3.connect(db_path)
cursor = db_connection.cursor()

cursor.execute(sql_command)

db_connection.commit() 
db_connection.close()

Inserting into table

In [4]:
import secrets

def getIDKey():
    return secrets.token_hex(nbytes=32)

In [5]:
# values
id1= getIDKey()
name1 = "Adolf"
email1 = "adolf1@gmail.com"

id2= getIDKey()
name2 = "Adolf2"
email2 = "adolf2@gmail.com"

id3= getIDKey()
name3 = "Victoria"
email3 = "vic@gmail.com"

sql_command ='INSERT OR IGNORE INTO users_poc (usr_id, name, email) VALUES (?,?,?)'

In [6]:
db_connection = sqlite3.connect(db_path, timeout=10)
cursor = db_connection.cursor()

cursor.execute(sql_command, (id1, name1, email1))
cursor.execute(sql_command, (id2, name2, email2))
cursor.execute(sql_command, (id3, name3, email3))

# Yep, close the Fu... DB
db_connection.commit()  # Commit to finalize the changes
db_connection.close()

Show Data

In [7]:
import pandas as pd

def showData():
    db_connection = sqlite3.connect(db_path)
    cursor = db_connection.cursor()

    cursor.execute("SELECT * FROM users_poc")
    data = cursor.fetchall()

    # Yep, close the Fu... DB
    db_connection.commit()  # Commit to finalize the changes
    db_connection.close()

    return pd.DataFrame(data, columns=['USR_ID','NAME','EMAIL']).set_index('USR_ID')

In [8]:
# import pandas as pd 

# df = pd.DataFrame(data, columns=['USR_ID','NAME','EMAIL']).set_index('USR_ID')
# df

showData()

                                                        NAME             EMAIL
USR_ID
f11647996a94e0591343c693b34968c8518f563578aac85...     Adolf  adolf1@gmail.com
ecc05eccba2744031a2ec89f57fdbcbe1838abdc3cc42b6...     Jenny   jenny@gmail.com
768ee180394afd886676dd0579ae5ac232a7c9563c56cd9...  Victoria     vic@gmail.com
e0b97fc259349413f923398683a0d15d6f77aae761c78a5...    Adolf2  adolf2@gmail.com

Update value

In [9]:
db_connection = sqlite3.connect(db_path)
cursor = db_connection.cursor()

cursor.execute("UPDATE users_poc SET name='Jenny', email='jenny@gmail.com' WHERE name='Adolf2'")

# Yep, close the Fu... DB
db_connection.commit()  # Commit to finalize the changes
db_connection.close()

showData()

IntegrityError: UNIQUE constraint failed: users_poc.email

Drop table

In [ ]:
def dropTable():
    db_connection = sqlite3.connect(db_path)
    cursor = db_connection.cursor()

    cursor.execute("DROP TABLE users_poc")

    # Yep, close the Fu... DB
    db_connection.commit()  # Commit to finalize the changes
    db_connection.close()

In [ ]:
# dropTable()

OperationalError: database is locked