In [12]:
import sqlite3

# General variables 
DATA_PATH = './../../../data/sqlite_data/'

db_path = DATA_PATH + 'poc.db'

In [13]:
sql_command = """CREATE TABLE IF NOT EXISTS users_poc (
    usr_id CHAR(64) PRIMARY KEY, -- 64 Chars: keccak_256
    name VARCHAR(25),
    email VARCHAR(30) UNIQUE
);"""

In [14]:
# Pray to GOD if this is in Prod, or simply check the command 1000 times xD
db_connection = sqlite3.connect(db_path)
cursor = db_connection.cursor()

cursor.execute(sql_command)

db_connection.commit() 
db_connection.close()

Inserting into table

In [15]:
import secrets

def getIDKey():
    return secrets.token_hex(nbytes=32)

In [16]:
# values
id1= getIDKey()
name1 = "Adolf"
email1 = "adolf1@gmail.com"

id2= getIDKey()
name2 = "Adolf2"
email2 = "adolf2@gmail.com"

id3= getIDKey()
name3 = "Victoria"
email3 = "vic@gmail.com"

sql_command ='INSERT OR IGNORE INTO users_poc (usr_id, name, email) VALUES (?,?,?)'

In [17]:
db_connection = sqlite3.connect(db_path, timeout=10)
cursor = db_connection.cursor()

cursor.execute(sql_command, (id1, name1, email1))
cursor.execute(sql_command, (id2, name2, email2))
cursor.execute(sql_command, (id3, name3, email3))

# Yep, close the Fu... DB
db_connection.commit()  # Commit to finalize the changes
db_connection.close()

Show Data

In [18]:
import pandas as pd

def showData():
    db_connection = sqlite3.connect(db_path)
    cursor = db_connection.cursor()

    cursor.execute("SELECT * FROM users_poc")
    data = cursor.fetchall()

    # Yep, close the Fu... DB
    db_connection.commit()  # Commit to finalize the changes
    db_connection.close()

    return pd.DataFrame(data, columns=['USR_ID','NAME','EMAIL']).set_index('USR_ID')

In [19]:
# import pandas as pd 

# df = pd.DataFrame(data, columns=['USR_ID','NAME','EMAIL']).set_index('USR_ID')
# df

showData()

                                                        NAME             EMAIL
USR_ID
17c25f5d18c1fa846deded4f4be1fc4b8ce315401edf269...     Adolf  adolf1@gmail.com
553c5018f8720d9cd170876458733b4aa495a19dbb12ffe...    Adolf2  adolf2@gmail.com
a0cd4ec66fa57b409422151d6a91305f9ad4c458810e7f7...  Victoria     vic@gmail.com

Update value

In [20]:
db_connection = sqlite3.connect(db_path)
cursor = db_connection.cursor()

cursor.execute("UPDATE OR IGNORE users_poc SET name='Jenny', email='jenny@gmail.com' WHERE name='Adolf2'")

# Yep, close the Fu... DB
db_connection.commit()  # Commit to finalize the changes
db_connection.close()

showData()

                                                        NAME             EMAIL
USR_ID
17c25f5d18c1fa846deded4f4be1fc4b8ce315401edf269...     Adolf  adolf1@gmail.com
553c5018f8720d9cd170876458733b4aa495a19dbb12ffe...     Jenny   jenny@gmail.com
a0cd4ec66fa57b409422151d6a91305f9ad4c458810e7f7...  Victoria     vic@gmail.com

Drop table

In [21]:
def dropTable():
    db_connection = sqlite3.connect(db_path)
    cursor = db_connection.cursor()

    cursor.execute("DROP TABLE users_poc")

    # Yep, close the Fu... DB
    db_connection.commit()  # Commit to finalize the changes
    db_connection.close()

In [22]:
dropTable()